// Estils globals

.huevo {
    background-color: var(--huevo);
  }
  
  .carne {
    background-color: var(--carne);
  }
  
  .fsecos {
    background-color: var(--fsecos);
  }
  
  .gluten {
    background-color: var(--gluten);
  }
  
  .lacteos {
    background-color: var(--lacteos);
  }
  
  .marisco {
    background-color: var(--marisco);
  }
  
  .pescado {
    background-color: var(--pescado);
  }
  